
table{
    table-layout: fixed;
    width: 250px;
  font-size: 10px;
}

th, td {
    width: 100px;
    word-wrap: break-word;
  font-size: 10px;
}
h1{
  color: #ff7f50;    
}
.todojunto{
   background-color: #ececec; 
   width:100%
}

.imagen{    
  float: left;    
}

figure {
  float: center;
  width: 20%;
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  color:black;
}
img.scaled {
  width: 100%;
}

.imagen img{
   background-color: white; 
    margin: 0em;
  padding: 2em;
}
a:link {
  text-decoration: none;
   color:black;
}

a:visited {
  text-decoration: none;
   color:black;
}

a:hover {
  text-decoration: #939aaa;
   color:#939aaa;
}

a:active {
  text-decoration: none;
   color:black;
}
