table{
    table-layout: fixed;
    width: 250px;
  font-size: 10px;
}

th, td {
    width: 100px;
    word-wrap: break-word;
  font-size: 10px;
}
h1{
  color: #ff7f50;    
}
todojunto{
   color: #f2f1f0; 
}
